$fontRegular: "BilboRegular";
$fontBold: "BilboBold";
$fontFine: "BilboFine";
$fontHobbit: "HobbitBrush";
$fontTolkien: "Tolkien";

$primary-color: #4c5538;
$secondary-color: #ece7dc;
$third-color: #fffcf6;